<br><br>
<div class="container mt-5 d-none d-md-block">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0 ">
                <img src="https://img.freepik.com/foto-gratis/belleza-naturaleza-refleja-aguas-tranquilas-montanas-ia-generativa_188544-7867.jpg" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paisaje1</h5>
                    <p class="card-text">Some quick example text to build on the
                        card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-warning">INGRESA</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 ">
                <img src="https://img.freepik.com/fotos-premium/montanas-reflejadas-lago-arboles_1124848-35527.jpg?size=626&ext=jpg&ga=GA1.1.1788068356.1716508800&semt=ais_user" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paisaje2</h5>
                    <p class="card-text">Some quick example text to build on the
                        card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-warning">INGRESA</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-0 ">
                <img src="https://img.freepik.com/fotos-premium/hermosos-paisajes-naturales-fantasia-natural-ai-imagenes-increibles-clasicos-paisajes-naturales_744422-6109.jpg" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paisaje3</h5>
                    <p class="card-text">Some quick example text to build on the
                        card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-warning">INGRESA</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 ">
                <img src="https://img.freepik.com/fotos-premium/hermoso-paisaje-montana-lago-barco_321315-2166.jpg" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paisaje4</h5>
                    <p class="card-text">Some quick example text to build on the
                        card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-warning">INGRESA</a>
                </div>
            </div>
        </div>
    </div>
</div>